img {
    position: relative;
    top: 120gipx;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid black;
}

.trophy {

    text-align: center;
}
h1 {
    position: relative;
    top: 100px;
    color: green;
}
span {
    color: blue;
}
.text {
    text-align: center;
    width: 700px;
    height: 400px;
    background-color: black;
    color: green;
    margin: 0 auto;
}

p {
    text-align: center;
    position: relative;
    top: 100px;
}


